body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #fcf80c;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
    border: 1px solid #e7e7e7;
    background-color: #1767e8;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
li{
    display: inline-block;
    text-align: center;
}
  li a {
    color: white;
  }