body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #fcf80c;
    display: flex;
    margin: 0;
    padding: 0;
    text-size-adjust: 25%;
    flex-direction: column;
    justify-content: space-between;
    min-height: 160px;
}
img{
    border-radius: 4px;
    width: 8%;
}
.title {
    text-align: center;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
    border: 1px solid #e7e7e7;
    background-color: #1767e8;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
li{
    display: inline-block;
    text-align: center;
}
  li a {
    color: white;
  }
  .main-content{
      width: 90%;
      background: grey;
      margin:0 auto;
      height: calc(100vw - 160px);
  }
  footer{
    background-color:  #1767e8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-size-adjust: 18%;
  }
  